
ckanext_countapicalls.egg-info/top_level.txt

ckanext_countapicalls.egg-info/PKG-INFO

ckanext_countapicalls.egg-info/SOURCES.txt

ckanext_countapicalls.egg-info/dependency_links.txt

ckanext_countapicalls.egg-info/entry_points.txt

ckanext_countapicalls.egg-info/namespace_packages.txt

ckanext_countapicalls.egg-info/not-zip-safe

._.gitignore

._README.rst

._setup.py

ckanext/.___init__.py

*.pyc

ckanext/countapicalls/.___init__.py

ckanext/countapicalls/._commands.py

ckanext/countapicalls/._dbutil.py

ckanext/countapicalls/._plugin.py

._README.md
